section.elements
    ul.elements__items
        li.elements__item
            img.elements__picture(src=require('../../images/kirill-pershin-1088404-unsplash.jpg') alt="Строение между гор")
            .elements__description
                h2.elements__title Карачаевск
                button.elements__like-button(type='button')
        li.elements__item
            img.elements__picture(src=require('../../images/kirill-pershin-1404681-unsplash.jpg') alt="Гора Эльбрус")
            .elements__description
                h2.elements__title Гора Эльбрус
                button.elements__like-button(type='button')
        li.elements__item
            img.elements__picture(src=require('../../images/kirill-pershin-1556355-unsplash.jpg') alt="Горы")
            .elements__description
                h2.elements__title Домбай
                button.elements__like-button(type='button')
        li.elements__item
            img.elements__picture(src=require('../../images/kirill-pershin-1404681-unsplash.jpg') alt="Гора Эльбрус")
            .elements__description
                h2.elements__title Гора Эльбрус
                button.elements__like-button(type='button')
        li.elements__item
            img.elements__picture(src=require('../../images/kirill-pershin-1556355-unsplash.jpg') alt="Горы")
            .elements__description
                h2.elements__title Домбай
                button.elements__like-button(type='button')
        li.elements__item
            img.elements__picture(src=require('../../images/kirill-pershin-1088404-unsplash.jpg') alt="Строение между гор")
            .elements__description
                h2.elements__title Карачаевск
                button.elements__like-button(type='button')
